<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.assets.movies.read-write</key>
	<true/>
	<key>com.apple.security.assets.music.read-only</key>
	<true/>
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
	<key>com.apple.security.temporary-exception.apple-events</key>
	<array>
        <string>com.apple.iTunes</string>
        <string>com.apple.TV</string>
        <string>com.apple.Music</string>
	</array>
	<key>com.apple.security.scripting-targets</key>
	<dict>
		<key>com.apple.iTunes</key>
		<array>
			<string>com.apple.iTunes.library.read-write</string>
			<string>com.apple.iTunes.library.device</string>
		</array>
		<key>com.apple.TV</key>
		<array>
			<string>com.apple.TV.library.read-write</string>
		</array>
		<key>com.apple.Music</key>
		<array>
			<string>com.apple.Music.library.read-write</string>
		</array>
	</dict>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.files.bookmarks.app-scope</key>
	<true/>
	<key>com.apple.security.automation.apple-events</key>
	<true/>
	<key>com.apple.security.print</key>
	<true/>
</dict>
</plist>
