<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84662541856-73bb02ss006kbm3b4imet8rsevm3u94r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84662541856-73bb02ss006kbm3b4imet8rsevm3u94r</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ-uA5203d-F7alUYmAVdLtuaX3YNYuEw</string>
	<key>GCM_SENDER_ID</key>
	<string>84662541856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cTiVo.cTiVo</string>
	<key>PROJECT_ID</key>
	<string>ctivo-6fd99</string>
	<key>STORAGE_BUCKET</key>
	<string>ctivo-6fd99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84662541856:ios:69de00fdc8b47880</string>
	<key>DATABASE_URL</key>
	<string>https://ctivo-6fd99.firebaseio.com</string>
</dict>
</plist>